@import "tailwindcss";

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    display: none;
  }
  
  /* For Firefox */
  html {
    scrollbar-width: none;
  }
  
  /* For IE 10+ and Edge */
  body {
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }